.btn-grey {
    background-color: rgb(233, 232, 232) !important;
}

.nav-item .nav-link {
    font-size: 22px;
    color: black !important;
}

.main-body {
    display: flex;
}

.container__sidebar {
    width: 25%;
    height: 100%;
    background-color: blue;
}

.container__sidebar-right {
    width: 25%;
    background-color: blue;
}

.container__main {
    /* Take the remaining width */
    flex: 1;
    /* Make it scrollable */
    overflow: auto;
    background-color: green;
    height: 100%;
    left: 0;
    /* position: fixed; */
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.avatar {
    /* Center the content */
    display: inline-block;
    vertical-align: middle;
    /* Used to position the content */
    position: relative;
    /* Colors */
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 40px;
    width: 40px;
}

.avatar__letters {
    /* Center the content */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .container__sidebar {
        width: 40%;
        background-color: blue;
        height: 100%;
        left: 0;
        display: none;
        position: fixed;
        top: 30;
        /* Background */
        /* background-color: rgba(0, 0, 0, 0.3) transparent !important; */
    }
}

@media (max-width: 575px) {
    .container__sidebar {
        width: 60%;
    }
}